/*HEADER*/
.cabecera-color {
  background-color: #343A40;
}

.tamaño {
  height: 70px;
}

.imagen-producto {
  height: 364px;
  width: 364px;
}

/*PORTADA*/
.portada {
  background-image: url("../img/portada.jpg");
  background-position: center center;
  background-size: cover;
  height: 550px;
}

.black h1 {
  align-items: unset;
  padding-top: 400px;
  color: #FFC857;
  font-size: 50px;
  width: 340px;
  text-transform: capitalize;
}

/*SECCION*/
.seccion {
  background-color: #2B2B2B;
  margin-top: auto;
}

.main {
  background-color: #343A40;
}

.precio-verde {
  color: #FFC857;
}

.contacto {
  background-color: #495057;
  padding-top: 20px;
}

.contactos {
  border: 1px solid #FFC857;
  background-color: #343A40;
  color: #F4F4F4;
}

.bloque-1 {
  margin-left: 20px;
  padding: 0 50px;
  width: 450px;
}

.bloque-2 {
  width: 450px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea,
#exampleFormControlTextarea1,
#exampleInputEmail1 {
  background-color: #2B2B2B;
  border: none;
  border-bottom: 1px solid #FFC857 !important;
  color: #F4F4F4;
  resize: none;
}

input[type="text"],
textarea:active {
  border: 0px black;
}

.cuadro {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 450px;
  height: 600px;
  background-color: #2B2B2B;
  color: #F4F4F4;
  padding: 20px 0px;
}

.bloque-3 {
  width: 300px;
  margin: auto;
  margin-top: 25px;
}

.cuadrado {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 450px;
  min-height: 600px;
  max-height: 910px;
  background-color: #2B2B2B;
  color: #F4F4F4;
  padding: 20px 0px;
}

.bloque-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.main11 {
  min-height: calc(100vh - 118px - 48px);
}

.img {
  height: 250px;
}

.carrito-producto {
  height: 80px;
}

.con {
  display: flex;
  justify-content: center;
}

.plus {
  width: 30px;
  background-color: #495057;
  border: 1px solid #FFC857;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0px 7px;
  padding-bottom: 3px;
}

.plus a{
  text-decoration: none;
  color: #F4F4F4;
}
